/* My Portfolio Starts */
.portfolio--section {
    display: flex;
    padding: 100px 80px;
    flex-direction: column;
    align-items: flex-start;
    gap: 80px;
    background-color: rgb(14, 14, 14);
    border: 1px var(--primary) solid;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0px 4px 10px var(--primary); 
  }
  .portfolio--container-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .portfolio--container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 21.3px;
  }
  .portfolio--section--container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 42.6px;
    width: 100%;
  }
  .portfolio--section--heading {
    color: var(--heading-color);
    font-size: 45px;
    font-weight: 700;
    line-height: 77px;
    background: linear-gradient(to left, black, var(--primary2), black);
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: colorSweep 3s infinite linear;
  }
  .portfolio--section--img > img {
    width: 100%;
    object-fit: fill;
  }
  
  .portfolio--section--card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    flex: 1 0 0;
    background-color: rgb(14, 14, 14);
    box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
    border-bottom: 4px transparent solid;
    border-right: 4px transparent solid;
    transition: 0.5s ease-in-out;
    border-radius: 8px;
    box-shadow: 0px 4px 10px var(--primary); 
  }
  .portfolio--section--card:hover{
    scale: 1.02;
    transition: 0.5s ease-in-out;
    background: var(--black);
    border-bottom: 4px var(--primary2) solid;
    border-right: 4px var(--primary2) solid;
  }
  .portfolio--section--card--content {
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
  }
  .portfolio--section--title {
    color: var(--primary);
  }
  .portfolio--link--button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
    border: 1px solid var(--primary);
    font-weight: 600;
  }
  .project--links {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  /* Portfolio Ends */


@media only screen and (max-width: 1200px) {
  .btn-outline-primary {
    display: none;
  }
  .portfolio--section--container,
  .portfolio--container-box {
    display: flex;
    flex-direction: column;
  }
  .portfolio--container{
    align-items: center;
  }
  .portfolio--container-box {
    gap: 30px;
  }
  .container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .divider {
    margin: 20px;
  }
}

/* Responsive Screens Ends*/

